
configuration {
	modi: "window,drun,ssh,combi,run";
    font            : "FiraCode Nerd Font Medium 12";
    display-ssh     : "";
    display-run     : "";
    display-drun    : "";
    display-window  : "";
    display-combi   : "";
    theme: "nord";
}

